* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
    border: 2px solid black;
    margin-left: 1rem;
}

#header {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-grid {
    display: flex;
    margin-left: 2rem;
}